#!/usr/bin/env tclkit8.6
#
lappend auto_path ./lib ../lib arec/lib

package require tcltest
package require acorn

source util/starbase.tcl
source util/starbase-acorn.tcl

set siz 300
set err 0.0001

set Data test/GMT-1-AcOWFS-3.zmx.data

set rays rays

acorn::mkrays rays nx $siz x0 -12700 x1 12700 ny $siz y0 -12700 y1 12700

set bytes [rays getbytes]

acorn::ZMX create Model source $Data/GMT-1-AcOWFS-3.zmx

    Model trace $rays {} 5000 32

    set n 1


set mirrors { P S } 
set surfs { 7 1 2 3 4 5 6 }
set errors [list x y z rx ry {*}[map z [iota 4 45] { concat z$z }]]

foreach mirror $mirrors {
    foreach surf $surfs {
	foreach e $errors {

		rays setbytes $bytes

		Model $mirror$surf set $e $err
		Model trace $rays {} 5000 32

		Model $mirror$surf set $e 0.0

		incr n

		#puts [acorn::rays-rms rays]
	}
    }
}

puts $n
