#!/usr/bin/env tclkit8.6
#
lappend auto_path ./lib ../lib arec/lib

package require tcltest
package require acorn

source util/starbase.tcl
source util/starbase-acorn.tcl

set err 0.0001

set Data test/GMT-1-AcOWFS-3.zmx.data

starbase_read Start $Data/start.rays
set rays {}

acorn::ZMX create Model source $Data/GMT-1-AcOWFS-3.zmx

    set rays [starbase2ray Start $rays]
    Model trace $rays

    set n 1


set mirrors { P S } 
set surfs { 7 1 2 3 4 5 6 }
set errors { x y rx ry z2 z3 z4 z5 z6 z7 z8 z9 z10 }

foreach mirror $mirrors {
    foreach surf $surfs {
	foreach e $errors {

		set rays [starbase2ray Start $rays]

		Model $mirror$surf set $e $err
		Model trace $rays -1 5000 4

		Model $mirror$surf set $e 0.0

		incr n
	}
    }
}

puts $n
